/**
/** User: Sep de Graaff, Lars van Iersel, Sven van Gasteren*
/** Date: 5-4-2022*
/** File: Index.php*
/**
*/

body
{
     margin: 0;
     padding: 0;
     height: 100vh;
}

header
{
     width: 100%;
     height: 10vh;
     background-color: #0085ca;
}

footer
{
     position: relative;
     top: 92vh;
     height: 6vh;
     background-color: #0085ca;
     color: white;
}

footer>p
{
     position: relative;
     width: 100px;
     height: 10px;
     bottom: 10px;
     text-align: left;
     left: 15px;
}



li
{
    position: relative;
    list-style: none;
    float: left;
    width: 10em;
    left: 31vw;
    top: 21px;

}

a
{
    text-decoration: none;
    font-size: 18px;
    font-family: Arial;
    font-weight: bold;
    color: white;
}

div>img
{
    position: relative;
    width: 25px;
    height: 25px;
    top: 2vh;
    float: right;
    right: 10px;
}

.lijn
{
    height: 0.6em;
    background-image: url("/images/lijn.png");
    background-color: white;
}

#logokw1c
{
    position: relative;
    height: 10vh;
    right: 35vw;
}

#slot
{
    position: relative;
    height: 30px;
    left: 50vw;
    top: -35px;
}

#NLvlag
{
    position: relative;
    height: 40px;
    left: 45vw;
    top: -30px;
}

#menufoto
{
    position: relative;
    left: 50vw;
    top: -25px;
}

ul#navbar {
    padding-top: 0px;
    margin-top: 0px;
}