 /**
 /** User: Sep de Graaff, Lars van Iersel, Sven van Gasteren*
 /** Date: 5-4-2022*
 /** File: Index.php*
 /**
  */

 body
 {
     margin: 0;
     padding: 0;
     height: 100vh;
 }

 footer
 {
     position: relative;
     top: 92vh;
     height: 8vh;
     background-color: #0085ca;
     color: white;
 }

 footer>p
 {
     position: relative;
     width: 100px;
     bottom: 10px;
     text-align: left;
     left: 15px;
 }

 .lijn
 {
     height: 0.6em;
     background-image: url("../Images/lijn.png");
     background-color: white;
 }