/**
/** User: Sep de Graaff, Lars van Iersel, Sven van Gasteren*
/** Date: 5-4-2022*
/** File: Index.php*
/**
*/

footer
{
    position: relative;
    height: 7vh;
    background-color: #0085ca;
    color: white;
}