#resultaatdoos
{
    width:800px;
    margin: 0 auto;
    padding: 15px;
    border-radius: 6px;
    border: black solid 2px;
    background-color: #0085ca;
}

.resultaatimg
{
    position: relative;
    height: 150px;
    width: 200px;
    left: 120px;
}

#bodyresultaat
{
    background-color:  #66b6df;
}

footer
{
    position: fixed;
    width: 100%;
    height: 7vh;
    bottom: 0;
    background-color: #0085ca;
    color: white;
}
