/**
/** User: Lars van Iersel
/** Date: 16-4-2022*
/** File: Index.php*
/**
*/

/*dit zorgt ervoor dat alle vragen een mooi omhulselhebben */
#Formdoos
{
    width:800px;
    margin:0 auto;
    padding: 15px;
    border-radius: 6px;
    border: black solid 2px;
    background-color: #0085ca;

}
/*dit is de submit knop zijn opmaak*/
#submitknoppie
{
    padding: 5px;
    border-radius: 6px;
    background-color: #ef2b2d;
    color: #fff;
    font-size: .8em;
}

/*dit geeft de body een background-color*/
#bodyvragen
{
   background-color: #66b6df;
}
/*dit posioneert de footer zodat hij er mooi staat*/
footer
{
    position: relative;
    height: 7vh;
    background-color: #0085ca;
    color: white;
}